<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ErrorHandlerExample.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <ErrorHandlerExample.Properties.Settings>
            <setting name="ServerSMTP" serializeAs="String">
                <value>smpt.gmail.com</value>
            </setting>
            <setting name="PortSMTP" serializeAs="String">
                <value>26</value>
            </setting>
            <setting name="LoginSMTP" serializeAs="String">
                <value>login@gmail.com</value>
            </setting>
            <setting name="PasswdSMTP" serializeAs="String">
                <value>mypassword</value>
            </setting>
            <setting name="ProgrammerEmail" serializeAs="String">
                <value>developer@gmail.com</value>
            </setting>
            <setting name="FromEmail" serializeAs="String">
                <value>no_reply@gmail.com</value>
            </setting>
        </ErrorHandlerExample.Properties.Settings>
    </userSettings>
</configuration>