<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="ScramperWPF.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="HhScramperEntities" connectionString="metadata=res://*/Models.Database.HhScramperModel.csdl|res://*/Models.Database.HhScramperModel.ssdl|res://*/Models.Database.HhScramperModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ILTON;initial catalog=HhScramper;persist security info=True;user id=WebScramper;password=zxcvb;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <log4net>
    <appender name="FileAppender" type="log4net.Appender.FileAppender">
      <param name="File" value="log-file.txt" />
      <param name="AppendToFile" value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d [%t] %-5p %c [%x] - %m%n" />
      </layout>
    </appender>
    <root>
      <level value="DEBUG" />
      <appender-ref ref="FileAppender" />
    </root>
  </log4net>
  <userSettings>
    <ScramperWPF.Properties.Settings>
      <setting name="ServerSMTP" serializeAs="String">
        <value>smtp.inbox.ru</value>
      </setting>
      <setting name="PortSMTP" serializeAs="String">
        <value>25</value>
      </setting>
      <setting name="LoginSMTP" serializeAs="String">
        <value>errorreportmailsender@inbox.ru</value>
      </setting>
      <setting name="PasswordSMTP" serializeAs="String">
        <value>8a696df615e9ff29aa1332af519b0dba</value>
      </setting>
      <setting name="ProgrammerEmail" serializeAs="String">
        <value>2160@inbox.ru</value>
      </setting>
      <setting name="FromEmail" serializeAs="String">
        <value>errorreportmailsender@inbox.ru</value>
      </setting>
      <setting name="EmailBudyEncoding" serializeAs="String">
        <value>Windows-1254</value>
      </setting>
    </ScramperWPF.Properties.Settings>
  </userSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
  </startup>
</configuration>