@{
    ViewBag.Title = "Home Page";
}

<h2>Задание</h2>
<p>
<ul>
<li>В системе присутствуют 2 вида сущностей: пользователи и события.</li>
<li>Пользователь может зарегистрироваться и залогиниться.</li>
<li>Событие может быть создано пользователем.</li>
<li>Пользователь может подписаться на одно или больше событий.</li>
<li>Пользователь может получать уведомление (через AJAX-запросы) о том, что другой пользователь подписался на тоже событие, что и он.</li>
<li>Доступ к MS SQL базе осуществляется с использованием хранимых процедур.</li>
</ul>
</p>
