<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IRequestService" />
            </basicHttpBinding>
            <netTcpBinding>
                <binding name="NetTcpBinding_IRequestService" />
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8733/Design_Time_Addresses/RequestService.WcfRequestService/RequestService/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IRequestService"
                contract="RequestServiceReference.IRequestService" name="BasicHttpBinding_IRequestService" />
            <endpoint address="net.tcp://localhost:8734/Design_Time_Addresses/RequestService.WcfRequestService/RequestService/"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IRequestService"
                contract="RequestServiceReference.IRequestService" name="NetTcpBinding_IRequestService">
                <identity>
                    <userPrincipalName value="LOST\MERKATOR" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>