<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <appSettings>
    <add key="DbConnection" value="Data Source=10.10.5.133;Initial Catalog=FileTransferFrwork;Integrated Security=True"/>
    <add key="FolderToWatch" value="C:\Users\aghabban\Documents\Visual Studio 2013\Projects\FileTransferFramework\Server\FileTrainsferFramework.Server\bin\Debug\Data\"/>
  </appSettings>
  
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  
  <system.serviceModel>   
      
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_IFileTransfer"
                         transferMode="Streamed" 
                         transactionFlow="false"
                         transactionProtocol="OleTransactions"
                         hostNameComparisonMode="StrongWildcard"
                         listenBacklog="10"
                         maxBufferPoolSize="79623599"
                         maxBufferSize="4967295"
                         maxConnections="10"
                         maxReceivedMessageSize="79623599">
                  
                  <readerQuotas maxDepth="32" 
                                maxStringContentLength="8192" 
                                maxArrayLength="555555555"
                                maxBytesPerRead="4096"
                                maxNameTableCharCount="79623599" />
                  <reliableSession ordered="true" 
                      enabled="false" />
                  
                  <security mode="None">
                    <message clientCredentialType="None"/>
                    <transport clientCredentialType="None"/>
                  </security>
                </binding>              
            </netTcpBinding>
        </bindings>
      
        <client>
            <endpoint address="net.tcp://localhost:3021/streamserver" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IFileTransfer" contract="ClientFileTransferServiceReference.IFileTransfer"
                name="NetTcpBinding_IFileTransfer">
                <!--<identity>
                    <userPrincipalName value="aghabban@MCI.GOV" />
                </identity>-->
            </endpoint>
        </client>      
      
    </system.serviceModel>
</configuration>