<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <system.web>
    <compilation debug="true" />
  </system.web>
  
  <system.serviceModel>
    
    <services>
      <service behaviorConfiguration="ChatConf" name="ChatService.Chat">
        <endpoint address="net.tcp://localhost:1050/ChatService/mex" binding="mexTcpBinding" name="Metadata" contract="IMetadataExchange" />
        <endpoint address="net.tcp://localhost:1050/ChatService" binding="netTcpBinding" bindingConfiguration="TcpNoSecurity" name="TcpChatService" contract="ChatService.IChat" />
      </service>
    </services>

    <bindings>
      <netTcpBinding>
        
        <binding name="TcpNoSecurity">
          <security mode="None"/>
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
        </binding>
        
      </netTcpBinding>
    </bindings>
    
    <behaviors>
      <serviceBehaviors>
        
        <behavior name="ChatConf">
          <serviceMetadata httpGetEnabled="False"/>
          <serviceDebug includeExceptionDetailInFaults="True" />
          <dataContractSerializer maxItemsInObjectGraph="300000"/>
        </behavior>
        
      </serviceBehaviors>
    </behaviors>
    
  </system.serviceModel>
</configuration>
