<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FutureRobot.FuroWare.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup useLegacyV2RuntimeActivationPolicy="true"> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <runtime>
      <legacyCorruptedStateExceptionsPolicy enabled="true" />
    </runtime>
    <applicationSettings>
        <FutureRobot.FuroWare.Properties.Settings>
            <setting name="VoiceDB" serializeAs="String">
                <value>ko-kr,Microsoft,en-us,Microsoft,de-de,Microsoft,es-es,Microsoft,fr-fr,Microsoft,it-it,Microsoft,ja-jp,Microsoft,zh-cn,Microsoft,Heather22k_HQ,Acapela,Kenny22k_HQ,Acapela,Laura22k_HQ,Acapela,Micah22k_HQ,Acapela,Nelly22k_HQ,Acapela,Ryan22k_HQ,Acapela,Saul22k_HQ,Acapela,Tracy22k_HQ,Acapela,Will22k_HQ,Acapela,Claire22k_HQ,Acapela,Sakura22k_HQ,Acapela,Lulu22k_HQ,Acapela,ko_kr,Diotek,en_us,Diotek,zh_cn,Diotek,ja_jp,Diotek</value>
            </setting>
        </FutureRobot.FuroWare.Properties.Settings>
    </applicationSettings>
</configuration>